* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    background-color: #f5f0e1;
}

label,
p,
.copy {
    color: #1e3d59;
}

header {
    background-color: #1e3d59;
    padding: 5px;
    text-align: center;
}

header h1 {
    color: white;
}

h2 {
    color: #ff6e40;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

.section-1 {
    text-align: center;
    margin-bottom: 25px;
}

.border {
    height: auto;
    width: 100%;
    border-top: 3px solid #ffc13b;
    border-bottom: 1px solid #ffc13b;
    padding: 2px;
}

.section-2 label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.section-2 input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(229, 233, 233);
}

fieldset {
    border: none;
}

input,
textarea {
    transition: background-color .5s ease-in-out;
  }

input:focus {
    background-color: #ffc13b;
  }

textarea:focus {
    background-color: #ffc13b;
  }

::placeholder {
    text-align: right;
    font-style: italic;
    color: black;
    font-family: monospace;
}

.section-2 select {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background: rgb(229, 233, 233);
}

#zip {
    width: auto;
}

hr {
    border: solid #ffc13b 2px;
}

#news,
#format,
#other {
    margin-left: 0;
    margin-bottom: auto;
}

.section-3 label {
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background: rgb(229, 233, 233);
}

button {
    width: 100%;
    background: #ff6e40;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 25px 0;
    text-align: center;
    font-size: 24px;
}

.copy {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: monospace;
}

/* Media Queries */

@media (min-width: 768px){
    .container {
        width: 65%;
        margin: auto;
        margin-bottom: 500px;
    }

    .section-2 label{
        float: left;
        clear: left;
        width: 30%;
        text-align: left;
    }
    .section-2 input,
    .section-2 select {
        float: left;
        width: 70%;
        margin-bottom: 15px;
    }
}